<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  	<typeAlias type="ssafy.ws.trip.user.dto.UserDto" alias="UserDto"/>
  	<typeAlias type="ssafy.ws.trip.informarticle.dto.InformArticleDto" alias="InformArticleDto"/>
  	<typeAlias type="ssafy.ws.trip.sharearticle.dto.ShareArticleDto" alias="ShareArticleDto"/>
  	<typeAlias type="ssafy.ws.trip.hotplacearticle.dto.HotplaceArticleDto" alias="HotplaceArticleDto"/>
  	<typeAlias type="ssafy.ws.trip.attraction.dto.AttractionDto" alias="AttractionDto"/>
  	<typeAlias type="ssafy.ws.trip.attraction.dto.SidoDto" alias="SidoDto"/>
  	<typeAlias type="ssafy.ws.trip.attraction.dto.GugunDto" alias="GugunDto"/>
  	<typeAlias type="ssafy.ws.trip.route.dto.RouteDto" alias="RouteDto"/>
  	<typeAlias type="ssafy.ws.trip.route.dto.RouteResDto" alias="RouteResDto"/>
  	<typeAlias type="ssafy.ws.trip.route.dto.RouteAttrDto" alias="RouteAttrDto"/>
  </typeAliases>
  
  <mappers>
  	<mapper resource="mybatis/AttractionMapper.xml"/>
    <mapper resource="mybatis/InformArticleMapper.xml"/>
    <mapper resource="mybatis/HotplaceArticleMapper.xml"/>
    <mapper resource="mybatis/ShareArticleMapper.xml"/>
    <mapper resource="mybatis/UserMapper.xml"/>
    <mapper resource="mybatis/RouteMapper.xml"/>
  </mappers>

</configuration>